body {
    font-family: "微软雅黑", STXihei, "黑体";
    background-image: url("../picture/background.jpg");
    background-size: 100% 100%;
    background-repeat:no-repeat;
    background-position:center top;
}

.img-preview{
	width:150px;
	height:150px;
	overflow: hidden;
}

.one {
	background-color: #f5f5f5;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 40%;
    border-radius: 200px;
}

.two {
	background-color: #f5f5f5;
    margin-top: 25px;
    margin-left: 40%;
    border-radius: 200px;   
}

#header{
	margin: 0 auto;
}

#avatarPreview{
	width: 150px;
    height: 150px;
    position: absolute;
    top: 0px;
    border: 1px solid rgb(0, 86, 32)
}

.btn-tpl {
    margin: 2px auto;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    min-height: 80px;
    width: 32%; 
    color: rgba(225, 225, 225, 0);
    background-color: #FFF;
    border: none;    
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
    /* background-color: rgb(0, 86, 32)
;  */
    /* border-color: rgb(0, 86, 32)
; */
}

.tips {
    color: rgb(255, 255, 255);
    background-color: rgba(150, 150, 149, 0.65);
    margin-top: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 6px;
    padding-right: 0px;
    /*border-color: rgba(174, 10, 42,.5);*/
}

#tips1 {
	text-align: center
}

.panel-sysu93 {
    margin-bottom: -5px;
    max-width: 100%;
    margin: 25px auto;
}

.hidden {
    display: none;
}
